.eventReason{
    background-color: var(--bg-purple);
}
.event-reason-r>h6{
    color: var(--t-lpurple);
}
.event-reason-r>p{
    color: var(--t-white);
}
#eventReason-img{
    width: 65%;
}
@media only screen and (max-width:1000px) {
    #eventReason-img{
        width: 50%;
        height: 20%;
    }
}