footer{
    padding: 9% 1%;
    background-image:linear-gradient(rgba(0,0,0,0.7) ,rgba(0,0,0,0.7)), url("../../assets/bg/footer-bg-4.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    gap:2.3rem;
}
footer>a>img{
    width: 22rem;
}
.footer-icons{
    display: flex;
    gap:.8rem;
}
.icons-circle{
    width: 1.1rem;
    height: 1.1rem;
    color: #fff;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.icons-a{
    padding: .8rem;
    border-radius: 50%;
    border:1px solid #fff;
    box-sizing: content-box;
}
.call-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.call-div>h6{
    font-size: 1.3rem;
    /* line-height: 1.2rem; */
    letter-spacing: 0;
    font-weight: 400;
}
.call-div>a{
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
footer>p{
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #a3a3cb;
}
@media only screen and (max-width:600px) {
    footer>a>img{
        width: 15rem;
    }
}
